.customers{
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    h3{
        text-align: left;
        font-size: 1.7em;
        font-weight: 400;
    }
    span{
        font-weight: 700;
    }
    p{
        width: 50%;
        text-align: center;
        
    }
}