@use "global-classes.scss" as *; 

footer{
    width: 100vw;
    height: 100vh;
    .main-part{


        display: flex;
        justify-content: space-around;
        
        h4{
            color: black;
            font-weight: 700;
            font-size: large;
        }
        p{
            color: grey;
            width: 20em;
        }
        a{
            color: grey;
            @include underline-hover;
        }

        .notice{
            img{
                width: 15em;
                height: auto;
                margin-top: 1em;
                margin-top: 1em;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }
        .contacts{

        }
        .socials{
            align-self: flex-end;
            display: flex;
            gap: 1em;
            
            button{
                width: 5em;
                height: 5em;
                background-color: #fafafa;
                border-radius: 50%;
                border-style: hidden;
                box-shadow: 0px 0px 3em rgba(0, 0, 0, 0.223);

                .facebook{
                    background-image: url("/assets/logo/facebook 1.png");
                    background-position: center;
                }
            }
        }
    }
}