// This place is for recurent classes, y'know, highlight texts and stuff

.highlight{
    // mandatory for background-clip to work
    // dang do i hate chromonium requirements
    color: transparent;
    background-image: linear-gradient(to left, #b980c0, #c068b1);
    -webkit-background-clip: text;
    background-clip: text;
}

.highlight-alt{
    color: transparent;
    background-image: linear-gradient(to left, #9268be, #ac67aa);
    -webkit-background-clip: text;
    background-clip: text;
}

.title-gradient-subtile{
    color: transparent;
    background-image: linear-gradient(to top, #680b7c, #95287d);
    -webkit-background-clip: text;
    background-clip: text;
}

.cta-button{
        
    background-color: #3D63EA;
    border: none;
    border-radius: 0.5em;
    
    box-shadow: 0px 0px 5em #00000026;
    color: white;

    padding: 20px 30px;
    margin-top: 20px;

    font-size: 1em;
    font-weight: 600;

    // makes it not stretch like hell on flex containers
    align-self: start;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: black;
        box-shadow: 0px 0px 5em rgb(255, 242, 58);
    }
}

h2{
    text-align: center;

    color: #1A202C;
    
    font-size: 2.5em;
    font-weight: 600;
}
