// This place is for recurent classes, y'know, highlight texts and stuff
$divider-lenghth: 4em;

body{
    //! Prevent weird space on the right side
    overflow-x: hidden;
    width: 100vw;
}

.highlight{
    // mandatory for background-clip to work
    // dang do i hate chromonium requirements
    color: transparent;
    background-image: linear-gradient(to left, #b980c0, #c068b1);
    -webkit-background-clip: text;
    background-clip: text;
}

.highlight-alt{
    color: transparent;
    background-image: linear-gradient(to left, #9268be, #ac67aa);
    -webkit-background-clip: text;
    background-clip: text;
}

.title-gradient-subtile{
    color: transparent;
    background-image: linear-gradient(to top, #680b7c, #95287d);
    -webkit-background-clip: text;
    background-clip: text;
}

.cta-button{
        
    background-color: #3D63EA;
    border: none;
    border-radius: 0.5em;
    
    box-shadow: 0px 0px 5em #00000026;
    color: white;

    padding: 20px 30px;
    margin-top: 20px;

    font-size: 1em;
    font-weight: 600;
    font-family: Inter, sans-serif;

    // makes it not stretch like hell on flex containers
    align-self: start;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: black;
        box-shadow: 0px 0px 5em rgb(255, 242, 58);
    }
}

.divider{
    display: block;
    width: $divider-lenghth;
    height: 5px;
    border-radius: 1em;
    background-image: linear-gradient(to right, #5f057b, #f16280);
}

h1{
    width: 40vw;
    font-size: 4em;
    font-weight: 300;
    
    span{
        font-weight: 700;
    }
}

h2{
    text-align: center;

    color: #1A202C;
    
    font-size: 2.5em;
    font-weight: 600;
}

p {
    color: #4A5568;
    line-height: 1.8em;
    font-size: larger;
}

@mixin basic-title{
    h3{
        text-align: center;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        margin-top: 1.5%;

        line-height: 1.4em;
    }
    span{
        font-weight: 700;
    }
    p{
        width: 50%;
        text-align: center;
        
    }
}

@mixin grey-background{
        background-color: #F7F7FA;
        
        border-style: solid;
        border-width: 1px;
        border-color: #E7DAED;
        border-left: 0px;
        border-right: 0px;
}

@mixin underline-hover{
    span{
        height: 2px;
        width: 0%;
        background-color: transparent;
        display: block;
        margin-top: 5px;
        transition: all 0.3s ease;
    }
    
    &:hover {
        color: blue;
        span{
            height: 2px;
            width: 100%;
            background-color: blue;
            display: block;
            margin-top: 5px;
            transition: all 0.3s ease;
            
        }
    }
}

// specific circle positions are on their respective files, not global
// circle-ofset, would be funny to have
.circle{
    position: absolute;
    width: 8em;
    height: 8em;
}

// this part is not supported by Firefox... and i'm too lazy to code it in javascript 
@keyframes scrolling-paralax {
    from {
      transform: translateY(0) ;
    }
    to {
      transform: translateY(30vw);
    }
  }
.onscroll {
    animation: scrolling-paralax linear;

    animation-timeline: scroll(root);
}

//! TEMP TODO
.circle-ofset-develop-software{
    translate: 0px -5vh;
}
