.hero{
    margin-top: 2em;
    margin-bottom: 3em;
    height: 90vh;

    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;

    h1{
        width: 40vw;

        font-size: 4em;
        font-weight: 300;
        
        span{
            font-weight: 700;
        }
    }
    
    div {
        width: 40vw;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    p{
        color: #4A5568;
        line-height: 1.8em;
        font-size: larger;
    }

    img{
        width: 100%;
        height: auto;
    };


    // Searching button ? Its on global classes
}