// "as *" needed to use mixins from global-classes.scss somehow
@use "global-classes.scss" as *; 

$nav-bar-spacing: 20px;
$nav-bar-height: 3em;

.nav-bar {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $nav-bar-spacing;
    height: $nav-bar-height;

    background-color: white;
    box-shadow: 0px 14px 2em #8d8d8d25;

    
    img {
        height: 40px;
        width: auto;

        transition: all 0.3s ease;

        &:hover {
           cursor: pointer;
           scale: 1.05;
        }
    }
    button{
        background-image: linear-gradient(to left, #570480, #656ff1);
        border: none;
        border-radius: 0.5em;

        color: white;

        padding: 12px 22px;
        font-size: 1em;
        font-weight: 600;

        font-family: Inter, sans-serif;

        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to left, #45036a, #4e5ccc);
        }
    }
    
    div{
        display: flex;
        gap: 15px;
        
        transition: color 0.3s ease;

        a {
            transition: color 0.3s ease;

            translate: 0px 0.4em;

            padding: 10px 15px;
            border-radius: 5px;

            display: flex;
            flex-direction: column;

            
            @include underline-hover;
        }
    }
}