.service-showcase{
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 3px solid #e7daed;
    border-bottom: 3px solid #e7daed;

    background-color: #f9f9ff;

    // weird name, but im weird, this act as the root div of all the cards
    .service-cards{
        $service-card-gap: 40px;
        
        width: 100%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $service-card-gap;
        
        overflow-y: scroll;
        // Hide those weird side scrollbars thingies
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        // act on every cards
        div{
            width: 20em;
            min-width: 20em;
            height: 18em;
            min-height: 18em;

            padding: 18px;
            
            box-shadow: 0px 0px 1.5em #00000026;
            border-radius: 1em;

            background-color: #fafafa;

            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                
                cursor: pointer;
                z-index: 5;
                translate: 0px 10px;
                

                border-color: #d34f7f;
                border-style: solid;
                border-width: 2px;
            }
            h2{
                margin-bottom: 0%;
            }

            h3{
                font-size: 1.3em;
                font-weight: 600;
            }
            p{
                color: #4A5568;
                line-height: 1.5em;
            }
            img{
                width: 50px;
                height: auto;
                margin-top: 20px;
            }
        }
    }
    #index-map{
        width: 10em;
        height: 3em;

        display: flex;
        justify-content: space-around;
        align-items: center;
        .marker{
            width: 1em;
            height: 1em;
            border-style: solid;
            border-width: 2px;
            border-radius: 50%;
            border-color: #cbd5e0;
        }
        #_3{
            background-color: #77147c;
        }
    }
    #index-map-fancier{
        // would be better to edit those with js and .style... but it'll work for now
        position: absolute;
        translate: 30em 15em;
        $progress-ratio: 30%;

        width: 10em;
        height: 3em;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .progress-bar{
            width: 6em;
            height: 3px;
            border-radius: 10px;
            background-color: #e2e8f0;
            // how the heck do i name those things heck
            .liquid{
                display: block;

                width: $progress-ratio;
                height: 100%;
                background-color: #57007b;
            }
        }
    }


}