@use "global-classes.scss";
@use "nav";
@use "hero";
@use "service-showcase";

body {
    margin: 0;
    font-family: Inter, sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }
}
