@use "global-classes.scss";
@use "nav";
@use "hero";
@use "service-showcase";
@use "develop-software";
@use "sponsors";
@use "customers";
@use "case-studie";
@use "way-of-building";
@use "developemenet-aproach";
@use "tech-stack";
@use "alcaline-works";
@use "featured-resources";
@use "hire-cto";
@use "footer";

body {
    margin: 0;
    font-family: Inter, sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }
}
