.sponsors{
    margin-top: 4em;
    margin-bottom: 3em;

    width: 100vw;
    height: 70vh;

    .titles{
        margin: 5em;
    }
    h3{
        width: 40vw;

        font-size: 2em;
        font-weight: 300;
        
        span{
            font-weight: 700;
        }
    }
    
    .logo-carousel{
        background-color: #F7F7FA;
        
        border-style: solid;
        border-width: 1px;
        border-color: #E7DAED;
        border-left: 0px;
        border-right: 0px;

        width: 100%;
        height: 50%;
        
        div{
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: repeat-x;
            background-position-y: center;

            background-image: url(/assets/logo-carousel.png);

            animation: 15s linear 1s infinite running sliding;
            @keyframes sliding{
                from{
                    background-position-x: 0evw;
                }
                to{
                    background-position-x: 100vw;
                }
            }
        }
    }
}