@use "global-classes.scss" as *; 

.tech-stack{
    margin-top: 4em;
    margin-bottom: 4em;
    width: 100vw;
    height: auto;

    .titles{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        gap: 0.5em;

        @include basic-title;
        margin-top: 0px;
    }

    .tech-nav{
        display: flex;
        justify-content: space-around;
        $margin-x: 25%;
        margin-left: $margin-x ;
        margin-right: $margin-x ;
        gap: 0.5em;
        
        button {
            font-size: 1em;
            font-weight: 400;
            font-family: Inter, sans-serif;
            transition: color 0.3s ease;
            
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            
            background-color: transparent;
            border-style: hidden;

            @include underline-hover;
            
        }
        .focused{
            span{
                height: 2px;
                width: 100%;
                background-color: black;
                display: block;
                margin-top: 5px;
                transition: all 0.3s ease;
                
            }
        }
    }
    .logo-galery{
        width: auto;
        height: auto;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5.5em;

        $margin-x: 15%;
        margin-left: $margin-x;
        margin-right: $margin-x;
        margin-top: 5em;
       
        padding: 1em;
        

        img{
            width: auto;
            height: 4em;
        }
    }
    .discrete-divider{
        display: block;
        width: 100vw;
        height: 2px;
        margin-top: 8em;
        background-color: rgba(128, 128, 128, 0.2);
    }
}